/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.logoContainer {
    height: 20em;
    width: 20em;
}

.logoContainer img {
    width: 100%;
}

.logoNegocioContainer {
    height: 10em;
    width: 10em;
}

.logoNegocioContainer img {
    width: 100%;
}

.logoClienteContainer {
    height: 10em;
    width: 10em;
}

.logoClienteContainer img {
    width: 100%;
}

.loginForm {
    padding: 2em;
    background-color: #c49573;
    border: .2em solid black;
}

.formNegocioContainer {
    height: 70vh;
    width: 30vw;
    border: .5em solid black;
}

.formClienteContainer {
    height: 70vh;
    width: 30vw;
    border: .5em solid black;
}